.appBar {
    background-color: #202020 !important; 
    font-weight: 600;
    width: 100% !important; 
    margin: 0 !important; 
  }
  .title {
    flex-grow: 1;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: 5px solid #202020;
    transition: 1s;
    text-align: center;
  }
  .title:hover {
    text-decoration: none;
    color: #ffffff !important;
    cursor: pointer;
   
    border-top: 5px solid #f50057 !important;
    border-bottom: 5px solid #f50057 !important;
  }
  .navButton {
    margin-left: 16px;
    color: #ffffff6b; 
    border: 5px solid #202020;
    transition: 1s;
  }
  .navButton:hover {
    border-bottom: 5px solid #f50057 !important;
    cursor: pointer;
    color: #ffffff;
  }
  