/* Estilos para el contenedor principal */
.comics-container {
  margin-top: 20px;
}

/* Estilos para el título de los cómics */
.comics-title {
  margin-bottom: 20px;
}

/* Estilos para el campo de búsqueda */
.search-input {
  margin-bottom: 20px;
}

/* Estilos para las cards */
.card {
  height: 100%;
  transition: transform 1s !important;
}

/* Limitar la altura del contenido en las cards y agregar desplazamiento si es necesario */
.card-content {
  height: 150px;
  overflow: auto;
  /* Mejoras para el scroll */
  scrollbar-width: thin; /* Para navegadores basados en Firefox */
  scrollbar-color: #888 #f0f0f0; /* Color del scroll */
}

/* Estilos personalizados para el scroll en navegadores WebKit (Google Chrome y Safari) */
.card-content::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.card-content::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scroll */
  border-radius: 4px; /* Borde del scroll */
}

.card-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scroll al pasar el cursor */
}

.card-content::-webkit-scrollbar-thumb:active {
  background-color: #333; /* Color del scroll al hacer clic */
}

/* Agregar sombreado al scroll */
.card-content::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del fondo del scroll */
  border-radius: 8px; /* Borde del fondo del scroll */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); /* Sombra del fondo del scroll */
}

/* Efecto hover para las cards */
.card:hover {
  transform: translateY(-8px);
  transition: transform 1s ease;
}

/* Cambiar el color del título al pasar el puntero por encima */
.card:hover .comic-title {
  color: #f50057;
}

/* Estilos para el diálogo modal */
.MuiDialog-paperWidthMd {
  max-width: 800px;
  margin: 20px;
}

/* Estilos para el título del diálogo modal */
.MuiDialogTitle-root {
  background-color: #f50057;
  color: #fff;
}

/* Estilos para el contenido del diálogo modal */
.MuiDialogContent-root {
  padding: 20px;
}

/* Estilos para el botón "Cerrar" del diálogo modal */
.MuiButton-root {
  color: #f50057;
}
